/* dark */
@media (prefers-color-scheme: dark) {
    html {
        background: #1e1e20;
        color: #fff;
    }
    header > h1 > a {
        color: #fff;
    }
    #themeBtn {
        color: #fff;
    }
    #searchInput {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }
    .keyword_anchor {
        background: #252627;
        color: #cbcbcb;
        border-color: #3c3e3e;
    }
    .keyword_anchor:hover {
        background: #3c3f41;
    }
    hr {
        opacity: 0.07;
    }
    .movie-card {
        background: #272829;
        color: #fff;
        border: 0;
    }
    #movie-review-container {
        background: #353738;
    }
    #nickname,
    #content,
    #password,
    .wrapReviewBox1,
    .wrapReviewBox2 {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }
    #searchInput::placeholder,
    #nickname::placeholder,
    #content::placeholder,
    #password::placeholder {
        color: #aeaeae !important;
    }
}

/* User Theme : dark */
html[data-theme='dark'] {
    background: #1e1e20;
    color: #fff;
}
html[data-theme='dark'] header > h1 > a {
    color: #fff;
}
html[data-theme='dark'] #themeBtn {
    color: #fff;
}
html[data-theme='dark'] #searchInput {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
html[data-theme='dark'] .keyword_anchor {
    background: #252627;
    color: #cbcbcb;
    border-color: #3c3e3e;
}
html[data-theme='dark'] .keyword_anchor:hover {
    background: #3c3f41;
}
html[data-theme='dark'] hr {
    opacity: 0.07;
}
html[data-theme='dark'] .movie-card {
    background: #272829;
    color: #fff;
    border: 0;
}
html[data-theme='dark'] #movie-review-container {
    background: #353738;
}
html[data-theme='dark'] #nickname,
html[data-theme='dark'] #content,
html[data-theme='dark'] #password,
html[data-theme='dark'] .wrapReviewBox1,
html[data-theme='dark'] .wrapReviewBox2 {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
html[data-theme='dark'] #searchInput::placeholder,
html[data-theme='dark'] #nickname::placeholder,
html[data-theme='dark'] #content::placeholder,
html[data-theme='dark'] #password::placeholder {
    color: #aeaeae !important;
}

/* User Theme : light */
html[data-theme='light'] {
    background: #fff;
    color: #000;
}
html[data-theme='light'] header > h1 > a {
    color: #000;
}
html[data-theme='light'] #themeBtn {
    color: #000;
}
html[data-theme='light'] #searchInput {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}
html[data-theme='light'] .keyword_anchor {
    background: #fff;
    color: #333;
    border-color: #dadcdf;
}
html[data-theme='light'] .keyword_anchor:hover {
    background: #f2f5f6;
}
html[data-theme='light'] hr {
    opacity: 1;
}
html[data-theme='light'] .movie-card {
    border-color: #fff;
    background: #fff;
    color: #000;
    border: 0;
}
html[data-theme='light'] #movie-review-container {
    background: #696969;
}
html[data-theme='light'] #nickname,
html[data-theme='light'] #content,
html[data-theme='light'] #password,
html[data-theme='light'] .wrapReviewBox1,
html[data-theme='light'] .wrapReviewBox2 {
    background-color: fff;
    color: #000;
}
html[data-theme='light'] #searchInput::placeholder,
html[data-theme='light'] #nickname::placeholder,
html[data-theme='light'] #content::placeholder,
html[data-theme='light'] #password::placeholder {
    color: #555 !important;
}
